{% extends '../base.html' %}



{%block body%}
    <form method=POST>
        {%csrf_token%}
        {{form.as_p}}
        {% if messages %}
                  <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %} 
                  {% if form.errors %}
                  <ul>
                    {% for key,value in form.errors.items %} {{ value|escape }}
                    {% endfor %}
                  </ul>
                  {% endif %}
        <button type = "submit">Register</button>
    </form>
{%endblock%}